<div class="card" style="width: 30rem;">
    <h5 class="card-header">
        Cargar Ejemplos
    </h5>
    <div class="card-body">

        <div class="row justify-content-md-center align-items-end">
            <div class="col">

                <div class="d-flex justify-content-center">
                    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                        <button id="btn-save" type="button" class="btn btn-outline-warning"
                            (click)="loadExample1()">Ejemplo 1
                        </button>
                        <button id="btn-reset" type="button" class="btn btn-outline-warning"
                            (click)="loadExample2()">Ejemplo 2
                        </button>
                        <button id="btn-execute" type="button" class="btn btn-outline-warning"
                            (click)="loadExample3()">Ejemplo 3
                        </button>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>