<!DOCTYPE html>
<html ng-app="homecontroller">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>Aceleración de Loops - WebApp</title>

<!--Icon-->
<link rel="icon" href="./img/icono.ico">

<!--Angular-->
<script src="./js/angular.js"></script>

<!--Bootstrap-->
 <link href="./css/bootstrap.min.css" rel="stylesheet">
<script src="./js/jquery.min.js"></script>
<script src="./js/bootstrap.min.js"></script>

<!--Graficar grafo-->
<link href="./css/vis.min.css" rel="stylesheet">
<script src="./js/vis.min.js"></script>

<!--Panel editor-->
<link href="./css/textmate.css" rel="stylesheet">
<script src="./js/ace/ace.js"></script>

<!--Home controller-->
<script src="./js/app.js"></script>

<!-- Gramatica -->
<script src="./js/Gramatica.js"></script>

</head>
<style>
.table tbody tr:first-child td {
	color: #5cb85c;
	font-weight: bold;
}

</style>
<body ng-controller="controlador as ctrl">
	<div class="container">
		<div>
			<!--Titulo -->
			<p>
			<div class="jumbotron"
				style="background: url('./img/logo.png') no-repeat center center; -webkit-background-size: 100% 100%; -moz-background-size: 100% 100%; -o-background-size: 100% 100%; background-size: 100% 100%; height: 250px;">
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="row">
					<div class="col" style="min-width: 200px;">
						<br>
						<br>
						<br>
						<h3 style="margin-left: 100px">Latencia <span class="glyphicon glyphicon-time"></span></h3>
						<p>	</p>
						
					</div>
				</div>
				<div class="row">
					<div class="col" style="margin-left: 100px">
						<div class="input-group" style="max-width: 165px">
							<span class="form-control"
								style="background-color: #5cb85c; color: #fff; border-color: #4cae4c">ADDD</span>
							<div class="input-group-btn">
								<button type="button" class="btn btn-success dropdown-toggle"
									data-toggle="dropdown">
									{{ctrl.instructions[0].cycles}} <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li ng-repeat="cycle in ctrl.cycles"><a
										ng-click="ctrl.setCycleToInstruction('ADDD', cycle)">{{cycle}}</a></li>
								</ul>
								<p></p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col" style="margin-left: 100px">
						<div class="input-group" style="max-width: 165px">
							<span class="form-control"
								style="background-color: #5cb85c; color: #fff; border-color: #4cae4c">SUBD</span>
							<div class="input-group-btn">
								<button type="button" class="btn btn-success dropdown-toggle"
									data-toggle="dropdown">
									{{ctrl.instructions[1].cycles}} <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li ng-repeat="cycle in ctrl.cycles"><a
										ng-click="ctrl.setCycleToInstruction('SUBD', cycle)">{{cycle}}</a></li>
								</ul>
								<p></p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col" style="margin-left: 100px">
						<div class="input-group" style="max-width: 165px">
							<span class="form-control"
								style="background-color: #5cb85c; color: #fff; border-color: #4cae4c">MULD</span>
							<div class="input-group-btn">
								<button type="button" class="btn btn-success dropdown-toggle"
									data-toggle="dropdown">
									{{ctrl.instructions[2].cycles}} <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li ng-repeat="cycle in ctrl.cycles"><a
										ng-click="ctrl.setCycleToInstruction('MULD', cycle)">{{cycle}}</a></li>
								</ul>
								<p></p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col" style="margin-left: 100px">
						<div class="input-group" style="max-width: 165px">
							<span class="form-control"
								style="background-color: #5cb85c; color: #fff; border-color: #4cae4c">DIVD</span>
							<div class="input-group-btn">
								<button type="button" class="btn btn-success dropdown-toggle"
									data-toggle="dropdown">
									{{ctrl.instructions[3].cycles}} <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li ng-repeat="cycle in ctrl.cycles"><a
										ng-click="ctrl.setCycleToInstruction('DIVD', cycle)">{{cycle}}</a></li>
								</ul>
								<p></p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col" style="margin-left: 100px">
						<div class="input-group" style="max-width: 165px">
							<span class="form-control"
								style="background-color: #5cb85c; color: #fff; border-color: #4cae4c">STD</span>
							<div class="input-group-btn">
								<button type="button" class="btn btn-success dropdown-toggle"
									data-toggle="dropdown">
									{{ctrl.instructions[4].cycles}} <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li ng-repeat="cycle in ctrl.cycles"><a
										ng-click="ctrl.setCycleToInstruction('STD', cycle)">{{cycle}}</a></li>
								</ul>
								<p></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-8">
						<h3>
							 <span class="glyphicon glyphicon-edit"></span> Editor
						</h3>
					</div>
					<div class="col-md-8">
						<div class="row">
							<pre id="editor" style="width: 500px; height: 300px;"></pre>
						</div>

						<div>
							<button class="btn btn-success "
								style="float: right; width: 90px; margin-right: 25px"
								ng-click="ctrl.runParser();" id="showRun">
								Ejecutar <span class="glyphicon glyphicon-play"></span>
							</button>
							<button class="btn btn-default"
								style="float: right; width: 90px; margin-right: 10px; background-color: #f1f1f1"
								id="showAyuda" data-toggle="modal" data-target="#modal_Ayuda">
								Ayuda <span class="glyphicon glyphicon-info-sign"></span>
							</button>

						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Modal Informacion -->

		<div class="modal fade" tabindex="-1" role="dialog" id="modal_Ayuda">
			<div class="modal-dialog modal-lg" style="width: 600px;"
				role="document">
				<div class="modal-content alert-info">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4><strong>REFERENCIAS </strong><span class="glyphicon glyphicon-info-sign"></span></h4>
					</div>
					<div class="modal-body">
						<pre class="alert alert-info">
El Código aceptado es una adaptación del lenguaje C++.
Se reconoce la sintaxis de la siguiente manera:

-  Palabras reservadas en minúsculas (for, while).
-  Variables  se deben escribir en mayúsculas (A[], X, Y, B[]).
-  El iterador se deben escribir en minúsculas (i, j, etc).
-  El iterador del while inicia en 1.
-  El incremento del while debe ir al final de la iteración (i++).
-  Se aceptan comentarios de linea empezando con //

Ejemplos de código reconocido:

for (i=1; i<= 5 ; i++) {		while (i<= 5){
	A[i] = E[i-1] + 6;			A[i] = E[i-1] + 6;
	B[i] = A[i] * Z; 			B[i] = A[i] * Z;
	C[i] = B[i-1] + X; 			C[i] = B[i-1] + X;
	D[i] = C[i] + Y; 			D[i] = C[i] + Y;
	E[i] = B[i] * D[i]; 			E[i] = B[i] * D[i];
} 						i++;
						}

</pre>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal Solucion correcta -->

		<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
			<div class="modal-dialog modal-lg"
				style="width: 1250px; height: 800px" role="document">
				<div class="modal-content ">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 style="color: #449d44"><strong>SOLUCIÓN </strong><span class="glyphicon glyphicon-ok"></span></h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-6">
								<div class=container>
									<h3>Grafo de Dependencias</h3>

									<div id="dibujo"></div>
								</div>
							</div>
							<div class="col-md-6">
								<div>
									<h3>Trazas Encontradas</h3>
									<table class=" table table-striped ">
										<thead>
											<tr>
												<th>#</th>
												<th>Traza</th>
												<th>Cálculo</th>
												<th>Resultado</th>
											</tr>
										</thead>
										<tbody>
											<tr
												ng-repeat="i in ctrl.grillaTrazas | orderBy : '-resultado'">
												<td>{{$index + 1}}</td>
												<td>{{i.traza}}</td>
												<td>{{i.calculo}}</td>
												<td>{{i.resultado}}</td>
											</tr>
										</tbody>
									</table>
									<p
										style="color: #5cb85c; float: right; font-weight: bold; margin-right: 25px;">(*)
										Traza crítica</p>
								</div>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
		<!-- /.modal -->

		<!-- Modal Parser error -->
	  <div class="modal fade" id="ModalError" role="dialog">
	    <div class="modal-dialog modal-lg" style="width: 600px; height: 80px">
	      <div class="modal-content alert-danger">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title"><strong>ATENCIÓN</strong> <span class="glyphicon glyphicon-alert"></span></span></h4>
	        </div>
	        <div class="modal-body">
	          <pre class="alert-danger">{{ctrl.error}}</pre>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
	        </div>
	      </div>
	    </div>
	  </div>
	  
	  
	  
	  <div class="container">
		<div>
			<!--Titulo -->
			<p>
			<br>
			<br>
			<br>
			<div class="jumbotron"
				style="background: url('./img/footer.png') no-repeat center center; -webkit-background-size: 100% 100%; -moz-background-size: 100% 100%; -o-background-size: 100% 100%; background-size: 100% 100%; height: 150px;">
			</div>
		</div>
	</div>
</body>



</html>