.dropdown-menu {
    max-height: 250px;
    /*Provide height in pixels or in other units as per your layout*/
    overflow-y: auto;
    /*Provide an auto overflow to diaply scroll*/
}



.btn-outline-success:disabled {
    color:gray;
    border-color: gray;
}
